# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# In development
ns.yaml
scc.yaml
tls-secret.yaml
importer.yaml
collector.yaml
dev/
minio/
# jobs/

# Deprecated
deployment.yaml
entitlement.yaml
